.aside {
    width: 20%;
    box-sizing: border-box;
    background-color: #EDE0DF;
    border-right: 4px solid #f7eeed;
    border-left: 4px solid #f7eeed;
}
.aside ul {
    list-style-type: none;
}
.aside a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}
.aside a:hover {
    text-decoration: underline;
}